[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pika = "*"
python-dotenv = "*"
flask = "*"
flask-marshmallow = "*"
flask-sqlalchemy = "*"
marshmallow-sqlalchemy = "*"
firebase-admin = "*"
flask-migrate = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"
gunicorn = "*"
haversine = "*"

[dev-packages]

[requires]
python_version = "3.11"
